body{
    background-image: url(./images/FONDITO.svg);
    background-size:cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: bottom;
    background-color: #536C5DFF;
}