@font-face {
    font-family: main-font;
    src: url(./font/MADEOkineSansPERSONALUSE-Medium.otf);
}

@font-face {
    font-family: second-font;
    src: url(./font/MADEOkineSansPERSONALUSE-Light.otf);
}

body{
    background-image: url(./images/FONDITO.svg);
    background-size:cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: bottom;
    background-color: #536C5DFF;
}
#container-1{
    
    height: 100vh;
    width: 100%;
    
    
}





#main-content{
    height: 43%;
    padding-top: 100px;
    font-family: main-font;
   
    
}

#navbar{
    margin-top: 20px;
    height: 10%;
}
#introduction{
    font-family: second-font;
}


